.container1 {
  display: flex;
  width: auto;
  flex-direction: row;
  margin-left: 120px;
}
.block1,
.block3,
.block5,
.block7 {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
}
.block2,
.block4,
.block6,
.block8 {
  width: 50px;
  height: 50px;
  background-color: black;
  border: 1px solid black;
}
.container2 {
  display: flex;
  width: auto;
  flex-direction: row;
  margin-left: 120px;
}
.block1,
.block3,
.block5,
.block7 {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
}
.block2,
.block4,
.block6,
.block8 {
  width: 50px;
  height: 50px;
  background-color: black;
  border: 1px solid black;
}
/* ;jfi */
